<app-home *ngIf="authenticated"></app-home>
<div *ngIf="!authChecked" class="loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</div>
<app-login *ngIf="!authenticated && authChecked"></app-login>
<!--<div  class="updater-container">-->
  <div *ngIf="updating" class="updater card orange darken-3">
    <i (click)="updating = false" class="material-icons waves-effect right icon-red">close</i><br>
    <h5>Updating...</h5>
    <div *ngIf="progress" class="progress orange darken-1">
      <div [style.width]="progress.percent + '%'" class="determinate white"></div>
    </div>
    <span class="speed">
      {{ (((progress !== undefined) ? progress.bytesPerSecond : 1) / 1048576) | roundNumber:2 }}
    </span><span> Mb/s</span>
    <div class="info">Auto restarting when finished.</div>
  </div>
<!--</div>-->
